obj/Debug/netcoreapp2.1/arraypathcs.csprojAssemblyReference.cache
.vscode/launch.json
.vscode/tasks.json
obj/arraypathcs.csproj.nuget.cache
obj/arraypathcs.csproj.nuget.dgspec.json
obj/arraypathcs.csproj.nuget.g.props
obj/arraypathcs.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.1/arraypathcs.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/arraypathcs.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/arraypathcs.assets.cache
obj/Debug/netcoreapp2.1/arraypathcs.csproj.CoreCompileInputs.cache
